*{
  box-sizing: border-box;
  margin: auto;
  margin: auto;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(12, 10, 10);
   padding: 10px 20px;
}

.logo{
    font-size: 30px;
    color: white;
    margin: 0;

}

.nav_link{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav_link li{
    margin: 0 20px;

}
.nav_link a{
    padding: 5px 15px;
    font-size: 15px;
    
}
.nav_link a:hover{
    background-color:lightblue ;
    color: black;
    border-radius: 15px;
}

button{
    background-color:lightblue ;
    color: black;
    padding: 5px 15px;
    border-radius: 15px;

}

@media (max-width: 768px) {
    .nav_link{
        display: flex;
        flex-direction: column;
    }
    .nav_link  li + li {
       margin-top: 12px;
     }
}
